<div class="modal-content modal-dialog-custom">
  <div class="modal-header">
    <h4>Thêm mới chuyen muc</h4>
  </div>

  <div class="modal-body" style="padding: 15px;">
    <div class="row">

      <div class="col-md-12" style="display: flex;justify-content: space-between;">
        <input type="text" class="input-typing overflow-dot" 
              [(ngModel)]="body.topicName"
              placeholder="Nhập Tên tiêu đề">
          <button class="btn-action-dv orange" (click)="createTopic()">Them</button>
      </div>

      <div class="col-md-6" *ngFor="let item of listTopic">
        <div style="display: flex;">
          <span style="display: flex;justify-content: center;border: 1px solid gray;border-radius: 7px; width: 95%;">
            {{item.topicName}}
          </span>
          <span style="margin-left: 15px; cursor: pointer;">
            <svg xmlns="http://www.w3.org/2000/svg" 
                 (click)="deleteTopic(item)"
                 style="width: 25px;"
                 viewBox="0 0 384 512">
              <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
            </svg>
          </span>
        </div>
      </div>

    </div>
  </div>

  <div class="modal-footer">
    <div class="btn-action">
      <div class="btn-action-dv gray" style="margin-right: 12px;" (click)="closeModal()">
        Hủy bỏ
      </div>
    </div>
  </div>
</div>